<div class="row row-center" style="padding-left: 6%; margin-bottom: 15px; min-height: 75px;">
  {% for item in site.data.sponsoren offset: 0 limit: 4 %}
    <div class="column column-20 column-offset-5 column-center" style="height: 75px;">
      <a href="{{item.link}}" title="{{item.fullname}} {{item.betrag}}">
        <img src="{{item.logo}}" alt="{{item.name}} {{item.betrag}}" style="display:block; margin-left: auto; margin-right: auto; height: 60px; object-fit: contain;">
      </a>
    </div>
  {% endfor %}
</div>
 <div class="row row-center" style="padding-left: 6%; margin-bottom: 15px; min-height: 75px;">
  {% for item in site.data.sponsoren offset: 4 limit: 4 %}
    <div class="column column-20 column-offset-5 column-center" style="height: 75px;">
      <a href="{{item.link}}" title="{{item.fullname}} {{item.betrag}}">
        <img src="{{item.logo}}" alt="{{item.name}} {{item.betrag}}" style="display:block; margin-left: auto; margin-right: auto; height: 60px; object-fit: contain;">
      </a>
    </div>
  {% endfor %}
</div>
<div class="row row-center" style="padding-left: 6%; margin-bottom: 15px; min-height: 75px;">
  {% for item in site.data.sponsoren offset: 8 limit: 4 %}
    <div class="column column-20 column-offset-5 column-center" style="height: 75px;">
      <a href="{{item.link}}" title="{{item.fullname}} {{item.betrag}}">
        <img src="{{item.logo}}" alt="{{item.name}} {{item.betrag}}" style="display:block; margin-left: auto; margin-right: auto; height: 60px; object-fit: contain;">
      </a>
    </div>
  {% endfor %}
</div>
<div class="row row-center" style="padding-left: 6%; margin-bottom: 15px; min-height: 75px;">
  {% for item in site.data.sponsoren offset: 12 limit: 4 %}
    <div class="column column-20 column-offset-5 column-center" style="height: 75px;">
      <a href="{{item.link}}" title="{{item.fullname}} {{item.betrag}}">
        <img src="{{item.logo}}" alt="{{item.name}} {{item.betrag}}" style="display:block; margin-left: auto; margin-right: auto; height: 60px; object-fit: contain;">
      </a>
    </div>
  {% endfor %}
</div>
<div class="row row-center" style="padding-left: 6%; margin-bottom: 15px; min-height: 75px;">
  {% for item in site.data.sponsoren offset: 16 limit: 4 %}
    <div class="column column-20 column-offset-5 column-center" style="height: 75px;">
      <a href="{{item.link}}" title="{{item.fullname}} {{item.betrag}}">
        <img src="{{item.logo}}" alt="{{item.name}} {{item.betrag}}" style="display:block; margin-left: auto; margin-right: auto; height: 60px; object-fit: contain;">
      </a>
    </div>
  {% endfor %}
</div>