<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preload" href="assets/fonts/Roboto/KFOjCnqEu92Fr1Mu51TjASc0CsTYl4BOQ3o.woff2" as="font" type="font/woff2">
    <link rel="preload" href="assets/fonts/Roboto/KFOjCnqEu92Fr1Mu51TjASc6CsTYl4BO.woff2" as="font" type="font/woff2">
    <link rel="preload" href="assets/fonts/Roboto/KFOjCnqEu92Fr1Mu51TzBic0CsTYl4BOQ3o.woff2" as="font" type="font/woff2">
    <link rel="preload" href="assets/fonts/Roboto/KFOjCnqEu92Fr1Mu51TzBic6CsTYl4BO.woff2" as="font" type="font/woff2">
    <link rel="preload" href="assets/fonts/Roboto/KFOlCnqEu92Fr1MmSU5fBBc4AMP6lQ.woff2" as="font" type="font/woff2">
    <link rel="preload" href="assets/fonts/Roboto/KFOlCnqEu92Fr1MmSU5fChc4AMP6lbBP.woff2" as="font" type="font/woff2">
    <link rel="preload" href="assets/fonts/Roboto/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2" as="font" type="font/woff2">
    <link rel="preload" href="assets/fonts/Roboto/KFOlCnqEu92Fr1MmWUlfChc4AMP6lbBP.woff2" as="font" type="font/woff2">
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/milligram.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="row">
      <div class="column column-title">
        <p>
        <a href="/index.html" style="color:#606c76;"><h1>Barmbeker Nephrologen Gespräche</h1></a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="column column-navigation">
        <p>{% include navigation.html %}</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="column column-80">
        <p>{{ content }}</p>
        </div>
      </div>
      <div class="row">
        <h4>Unterstützt durch:</h4>
      </div>
        {% include sponsoren.html %}
      </div>
      <div class="row">
        <div class="column column-navigation">
          <p>{% include footer.html %}</p>
        </div>
      </div>
  </body>
</html>
